<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VolumeManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <VolumeManager.Properties.Settings>
      <setting name="AudioDeviceID" serializeAs="String">
        <value/>
      </setting>
      <setting name="AudioSessionName" serializeAs="String">
        <value/>
      </setting>
      <setting name="MainWindowPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Option_SendUDP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Option_SilentTime" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="Option_UpperText" serializeAs="String">
        <value>{0} - {1}</value>
      </setting>
      <setting name="Option_LowerText" serializeAs="String">
        <value>{2}</value>
      </setting>
    </VolumeManager.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup></configuration>
